
#t-b {
    position: absolute;
    filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.card {
    --x: 250px;
    --y: 400px;
    width: var(--x);
    height: var(--y);
    background-size: cover;
    display: flex;
    border: solid black;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    text-decoration: none;
    user-select: none;
    -webkit-user-drag: none;
}
#t2 {
    font: 1.5em sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#t {
    font: 1.8em sans-serif;
    color: #ffffff;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    width: 100%;
    margin-bottom: -30%;
}
#text {
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    z-index: 3;
}
.card:hover {
    width: calc(var(--x) + 10px);
    height: calc(var(--y) + 10px);
}
#g {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    user-select: none;
}
.back-box {
    position: absolute;
    display: block;
    left: 8px;
    top: 10px;
    z-index: 4;
    height: 50px;
    width: 50px;
    border: solid;
    background-color: white;
    transition: 2s;
}
.back-box:host {
    opacity: 0;
}
.back {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
#img {pointer-events: none;}
#img2 {pointer-events: none;}
#img3 {pointer-events: none;}
#main {
    gap: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#text-box {
    position: relative;
    z-index: 2;
    width: 800px;
    height: 150px;
}
#card-box {
    z-index: 2;
    gap: 100px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.im {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
@media (max-width: 4000px) {
    #img {display: inline; width:1920px;}
    .card {--x: 400px;--y: 700px;width: var(--x);height: var(--y);font-size: 1.5em;}
    #card-box {gap: 75px}
    #text-box{width: 1500px;height: 200px;font-size: 1.5em;}
    #img2 {display: none;}
    #img3 {display: none;}
}
@media (max-width: 2000px) {
    #img {display: inline;}
    .card {--x: 300px;--y: 500px;width: var(--x);height: var(--y);font-size: 1.2em;}
    #card-box {gap: 75px}
    #text-box{width: 1500px;height: 175px;font-size: 1.5em;}
    #img2 {display: none;}
    #img3 {display: none;}
}
@media (max-width: 1750px) {
    .card {--x: 250px;--y: 450px;width: var(--x);height: var(--y);font-size: 1em;}
    #card-box {gap: 75px}
    #text-box{width: 950px;height: 175px;font-size: 1.3em;}
    #img2 {display: none;}
    #img3 {display: none;}
    #img {display: inline;}
}
@media (max-width: 1500px) {
    .card {--x: 250px;--y: 420px;width: var(--x);height: var(--y);font-size: 1em;}
    #card-box {gap: 75px}
    #text-box{width: 950px;height: 175px;font-size: 1.3em;}
    #img2 {display: none;}
    #img3 {display: none;}
    #img {display: inline;}
}
@media (max-width: 1100px) {
    .card {--x: 200px;--y: 350px;width: var(--x);height: var(--y);font-size: 0.8em;}
    #card-box {gap: 20px}
    #text-box{width: 600px;height: 150px; font-size: 1em}
    #img2 {display: inline;}
    #img3 {display: none;}
    #img {display: none;}
}
@media (max-width: 768px) {
    .card {--x: 225px;--y: 375px;width: var(--x);height: var(--y); font-size: 0.8em;}
    #card-box {gap: 50px}
    #text-box{width: 530px;height: 150px;font-size: 1em}
    #img {display: none;}
    #img2 {display: inline;}
    #img3 {display: none;}
}
@media (max-width: 600px) {
    .card {--x: 175px;--y: 300px;width: var(--x);height: var(--y);font-size: 0.6em;}
    #card-box {gap: 25px;}
    #main {gap: 25px;}
    #img {display: none;}
    #img2 {display: none;}
    #img3 {display: inline;}
    #text-box{width: 380px;height: 130px;font-size: 0.7em;}
}
@media (max-width: 450px) {
    .card {--x: 125px;--y: 225px;width: var(--x);height: var(--y);font-size: 0.5em}
    #card-box {gap: 25px;}
    #main {gap: 25px;}
    #img {display: none;}
    #img2 {display: none;}
    #img3 {display: inline;}
    #text-box{width: 300px;height: 130px;font-size: 0.7em;}
}